<div id="<%= dom_id facility %>">
  <p>
    <strong>Companyid:</strong>
    <%= facility.companyID_id %>
  </p>

  <p>
    <strong>Facilityname:</strong>
    <%= facility.facilityName %>
  </p>

  <p>
    <strong>City:</strong>
    <%= facility.city %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= facility.street %>
  </p>

  <p>
    <strong>Buildingnumber:</strong>
    <%= facility.buildingNumber %>
  </p>

  <p>
    <strong>Localnumber:</strong>
    <%= facility.localNumber %>
  </p>

  <p>
    <strong>Postalcode:</strong>
    <%= facility.postalCode %>
  </p>

  <p>
    <strong>Openingtime:</strong>
    <%= facility.openingTime %>
  </p>

  <p>
    <strong>Closingtime:</strong>
    <%= facility.closingTime %>
  </p>

  <p>
    <strong>Houerlyprice:</strong>
    <%= facility.houerlyPrice %>
  </p>

</div>
