<div id="<%= dom_id company %>">
  <p>
    <strong>Companyid:</strong>
    <%= company.companyID %>
  </p>

  <p>
    <strong>Companyname:</strong>
    <%= company.companyName %>
  </p>

  <p>
    <strong>Companynip:</strong>
    <%= company.companyNIP %>
  </p>

  <p>
    <strong>City:</strong>
    <%= company.city %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= company.street %>
  </p>

  <p>
    <strong>Buildingnumber:</strong>
    <%= company.buildingNumber %>
  </p>

  <p>
    <strong>Localnumber:</strong>
    <%= company.localNumber %>
  </p>

  <p>
    <strong>Postalcode:</strong>
    <%= company.postalCode %>
  </p>

</div>
