<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :userName, style: "display: block" %>
    <%= form.text_field :userName %>
  </div>

  <div>
    <%= form.label :userSurname, style: "display: block" %>
    <%= form.text_field :userSurname %>
  </div>

  <div>
    <%= form.label :userPassword, style: "display: block" %>
    <%= form.text_field :userPassword %>
  </div>

  <div>
    <%= form.label :userEmail, style: "display: block" %>
    <%= form.text_field :userEmail %>
  </div>

  <div>
    <%= form.label :userBirthDate, style: "display: block" %>
    <%= form.date_field :userBirthDate %>
  </div>

  <div>
    <%= form.label :userPhoneNumber, style: "display: block" %>
    <%= form.text_field :userPhoneNumber %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
