<div id="<%= dom_id user %>">
  <p>
    <strong>name:</strong>
    <%= user.userName %>
  </p>

  <p>
    <strong>surname:</strong>
    <%= user.userSurname %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>email:</strong>
    <%= user.userEmail %>
  </p>

  <p>
    <strong>birthdate:</strong>
    <%= user.userBirthDate %>
  </p>

  <p>
    <strong>phonenumber:</strong>
    <%= user.userPhoneNumber %>
  </p>

</div>
