<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.userName %>
  </p>

  <p>
    <strong>Usersurname:</strong>
    <%= user.userSurname %>
  </p>

  <p>
    <strong>password_digest:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Useremail:</strong>
    <%= user.userEmail %>
  </p>

  <p>
    <strong>Userbirthdate:</strong>
    <%= user.userBirthDate %>
  </p>

  <p>
    <strong>Userphonenumber:</strong>
    <%= user.userPhoneNumber %>
  </p>

</div>
