<div id="<%= dom_id reservation %>">
  <p>
    <strong>Lookingforplayer:</strong>
    <%= reservation.lookingForPlayer %>
  </p>

  <p>
    <strong>Reservationdate:</strong>
    <%= reservation.reservationDate %>
  </p>

  <p>
    <strong>Reservationstarttime:</strong>
    <%= reservation.reservationStartTime %>
  </p>

  <p>
    <strong>Reservationendtime:</strong>
    <%= reservation.reservationEndTime %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= reservation.cost %>
  </p>

</div>
